<h5 class="text-center">Dragon Ball Z</h5>
<hr>
...
<div class="hr m-2 p-3">LET'S START</div>
<div class="hr m-3 p-2">^_^</div>
<div class="row">
    <div class="col">
        <app-personajes></app-personajes>
        <app-agregar
        [nuevo]="nuevo"
        ></app-agregar>

        <!-- <h3>Personajes</h3>
        <hr>
        <ul>
            <li *ngFor="let person of personajes">
                {{person.nombre}} - {{person.poder | number}}
            </li>
        </ul> -->
    </div>

    
</div>

